* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.about{
    width: 100%;
     margin: auto;
}
.background{
    
   
    height: 53dvh;
    background-image: url('../../public//images//smallCaraousel/card8.webp');
    width: 100%;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
     object-fit: contain; 
    /* object-fit: fill;
    object-fit: cover; */
    position: relative;
}

.img-about{
    
    width: 85%;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 10%;
    
}
.img-about>p{
    color: rgb(57, 45, 45);
    text-decoration: none;
    width: 70%;
    margin: auto;
    
    
    
   

}
.img-about>p>h1{
    text-decoration: none;
    font-weight: bold;
    /* float: right; */
    
}